n8n-workflow-langgraph-chat.json
{
  "name": "LangGraph Chat Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "langgraph-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6a74a875-7fd9-45ac-9336-25c5bfe51501",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/automation/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.body.question }}"
            }
          ]
        },
        "options": {}
      },
      "id": "05b88e35-aaed-4f1d-8493-8fa13177df86",
      "name": "Call LangGraph Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "6e06399e-18e4-4d69-9f28-c294c1144b07",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        800,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call LangGraph Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LangGraph Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c945a75-5871-4855-966a-79c044df96a8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "langgraph-chat-webhook",
  "tags": []
}
